#integer

In [2]:
print(123123123123123123123123123123 + 1)

123123123123123123123123123124

In [3]:
# python interprets a sequence of decimal digits without any prefix to be a decimal number:
print(10)
print(type(10))

10
<class 'int'>

# floating-points Numbers
Tipe float di python menunjukan bilangan floating-point.Nilai float ditentukan dengan titik desimal.secara opsional,karakter e atau E diikuti dengan bilangan bulat positif atau negatif dapat ditambahkan untuk menentukan notasi ilmiah

In [4]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# Strings
string adalah urutan data karakter.jenis string dalam python disbut str.

sting literasi dapat dipisahkan menggunakan tanda kutip tunggal atau ganda.Semua karakter antara pembatas pembukaan dan pembatas penutup yang 'match' adalah bagian dari string:

In [5]:
print("Hactiv8")
print(type("Hactive8"))

Hactiv8
<class 'str'>

sebuah string dalam python dapat berisi karakter sebanyak yang kalian inginkan .satu-satunya batsan adalah resource memori kalian.string juga boleh kosong:

In [6]:
print('')

In [7]:
print("This string contains a single quote(') character .")
print('This string contains a single quote(") character .')

This string contains a single quote(') character .
This string contains a single quote(") character .

# Boolean Type,Boolean Context,and "Truthiness"
Python 3 Menyediakan tipe data boolean.Objek tipe Boolean mungkin memiliki salah satu dari dua nilai,True atau False :

In [8]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

# Variabel Assignment

Bayangkan variabel sebagai nama yang dilampirkan ke objek tertentu.Di Python,variabel tidak perlu dideklarasikan atau didefinisikan sebelumnya,seperti halnya di banyka bahasa pemrograman lainnya.Untuk membuat variabel,kalian cukup menetapkan nilai dan bisa digunakan.Variabel assignment dilakukan dengan satu tanda sama dengan(=):

In [9]:
n = 300

In [10]:
print(n)

300

In [11]:
n

300

In [12]:
300

300

In [13]:
# Later, if you change the value of n and use it again,the new value will be subtituted instead:

n = 1000
print(n)

n

1000

1000

python juga memungkinkan chained asssignment,yang memungkinkan untuk menetapkan nilai yang sama ke beberapa variabel secara bersamaan:

In [14]:
a = b = c = 300
print(a,b,c)

300 300 300

# Variabel Types In Python

Dalam banyak bahasa pemrograman,variabel diketik secara stastis.Artinya,variabel yang dideklarasikan diawal memiliki tipe data tertentu,dan nilai apa pun yang ditetapkan pada variabel tersebut selama masa pakainya hasrus selalu memilki tipe itu.

Variabel dalam Python berbeda dengan batasan ini.Di Python,variabel dapat diberi value dari satu jenis dan kemudian diberi value dari jenis yang berbeda:

In [15]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

# variable Names

Secara resmi,nama variabel di python bisa berapa pun panjangnya dan bisa huruf besar dan huruf kecil(A-Z,a-z),digit(0-9),dan karakter garis bawah(_).Batsan tambahan adalah bahwa,meskipun nma variabel dapat berisi angka,karakter pertama dari nama variabel tidak boleh berupa digit.

In [16]:
name = "Hactiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hactiv8 54 True

nama variabel tidak boleh dimulai dengan angka

In [17]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (687628429.py, line 1)

perhatikan bahwa case disini sangat berperan.Huruf kecil dan huruf besar tidak sama.Penggunaan karakter garis bawah juga penting.Masing-masing dari berikut ini mendefinisikan variabel yang berbeda:

In [ ]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE)

1 2 3 4 5 6 7 8

Di sisi lain, belum tentu semuanya dapat terbaca.penamaan variabel adalah masalah preferensi pribadi,tetapi kebanyakan orang akan menganggap  dua contoh pertama,dimana semua huruf disatukan,lebih sulit untuk dibaca,terutama yang menggunakan huruf kapital semua.Metode yang paling umum digunakan untuk membuat nama variabel multi-kata adalah tiga contoh dibawah ini:

- Camel Case: second and subsequent words  are capitalized,to make word boundaries easier to see(Presumably,it struck smoeone at smoe  point that the capital letters strew troughout the variabel name vaguely remble camel humps.)
Example: NumberOfCollegeGraduates

- Pascal Case: Identical to camel case,except the first word is also capitalized.
Example: NumberOfCollegeGraduates

- Snake Case: Words are separated by underscorse
Example: Number_of_college_graduates

Gunakan salah satu dari ketiganya yang paling menarik secara visual bagi kalian.Pilih satu dan gunakan secar konsisten

# operators and Expressions in Python

Di Python,operators adalah simbol khusus yang menunjukan bahwa suatu jenis komputasi harus dilakukan.Nilai ditindaklanjuti oleh operators disebut operands

Berikut ini contohnya:

In [ ]:
a = 10
b = 20
a + b

30

Dalam kasus ini,operators + menjumlahkan operands a dan b.Opeand dapat berupa nilai literal atau variabel yang merefernsikan  objek:

In [ ]:
a = 10
b = 20
a + b - 5

25

Urutan operan dan operator, seperti a + b - 5, disebut expression.Python mendukung banyak  operator untuk menggabungkan objek data menjadi exppression.

# Arithmetic Operators

In [ ]:
# Here are some examples of these ooperators in use:

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [ ]:
# The result of standart division (/) is always a float, even if the dividend is evenly divisible by the divisor:

10 / 5

2.0

# Comparison Operators

In [ ]:
# Here are example of the comparison operators in use:

a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)

a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

# String Manipulation

In [ ]:
# + operators 
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)


print('Hactiv8' + 'PTP')

foobar
foobarbaz
Hactiv8PTP

In [ ]:
# * operators

s = 'foo.'

s * 4

'foo.foo.foo.foo.'

In [ ]:
# in operators

s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [ ]:
# Case Conversion
s = 'Hactiv8'

# Capitalize
print(s.capitalize())

# Lower
print(s.swapcase())

# Title
print(s.title())

#UpperCase
print(s.upper())

Hactiv8
hACTIV8
Hactiv8
HACTIV8

# Python List

Singkatnya,list adalah kumpulan objek yang arbitrary,agak mirip dengan array dalam banyak bahasa pemrograman lain tetapi lebih fleksibel. List didefinisikan dalam Python dengan menyertakan sequence object yang dipisahkan koma dalam tanda kurung siku([]),seperti yang ditunjukan di bawah ini:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

Karakteristik penting  dari list python adalah sebagai berikut:

- List are ordered
- Lists can contain any arbitary objects
- List elements can be accesed by index
- Lists are mutable
- Lists are dynamic

# Lists Are Ordered

List bukan hanya kumpulan object.List adalah kumpulan dari object yang berurutan. Urutan elemen ketika kalian membuat list akan bertahan selama List tersebut ada.

List yang memiliki elemen yang sama dalam urutan yang berbeda,tidak sama:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

# List Can Contain Arbitary Objects

sebuah list dapat berisi bermacam-macam objek.Element dari List semuanya bisa berjenis sama:

In [ ]:
a = [21.42, 'foobar', 3,4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

# List Elements Can Be Accessed by index

Element individual dalam list dapat siakses menggunakan indeks dalam tanda kurung siku. Ini sama persis dengan mengakses karakter individu dalam sebuah string.pengideksan list berbasis nol seperti halnya dangan string.

perhatikan list berikut ini:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [ ]:
print(a[0])
print(a[5])

foo
corge

Hampir semua hal tentang pengindeksan string berfungsi serupa untuk list.Misalnya,indeks listnegatif dihitung dari akhir list:

In [ ]:
print(a[-1])
print(a[-6])

corge
foo

Slicing juga bisa digunakan. jika a adalah list,ekspresi a[m:n] mengembalikan porsi a dari indeks m ke n,tetapi tidak termasuk,indeks n:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [ ]:
# The  concatenation (+) and replication (*) operators:

print(a)

print(a + ['grault', 'graply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'graply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [ ]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

# Modifying a single List Value

satu nilai dalam list dapat diganti dengan pengideksan dan assignment sederhana:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [ ]:
# A list item can be deleted with the del command:

del a[3]

In [ ]:
print(a)

['foo', 'bar', 10, 'qux', 'quux', 20]

# modifying Multiple List Values

Bagaimana jika kalian ingin mengubah beberapa elemen yang bersebelahan dalam list sekaligus?
Python memungkinkan  hal ini dengan slice, yang memiliki sintaks berikut:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python Tuples

Python menyediakan tipe lain dari kumpulan objek yang berurutan,disebut tuple.

# defining and Using Tuples

Tuples identik dengan mengapit elemen dalam tanda kurung (()) daripada tanda kurung siku ([]).Tuples tidak bisa diubah.Berikut adalah contoh singkat yang menunjukan pendeklarasian tuple pengindeksan,dan slicing:

In [ ]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [ ]:
print(t[0])

print(t[-1])

foo
corge

In [ ]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

# Python Dictionary

ictionaries and list share the following characteristics:

- Both are mutable
- Both are dynamic.They can grow and shink as needed
- Both can be nested.A list can contain another list.A dictionary can another dictionary.A dictionary can also contain a list,and vice versa.

Dictonaries differ from lists primarily in how elements are accessed:

- List elements are accessed by their position in the list,via indexing.
- dictionary elements are accessed via keys.

# Defining a Dictionary

Dictionaries adalah implementasi Python dari struktur data yang lebih dikenal sebagai associative array.Dictionaries terdiri dari key-value pairs. Setiap key-value pairs memetakan key ke value yang terkait.

Kalian bisa mendefinisikan Dictionaries dengan mengapit daftar key-value pairs yang dipisahkan koma dalam tanda kurung kurawal({}). Titik dua (:) memisahkan setiap kunci dari nilai yang terkait.

In [ ]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

# Accessing Dictionary Values

sebuah nilai diambil dari dictonary dengan menentukan kunci yang sesuai dalam tanda kurung siku([]):

In [ ]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
#MLB_team['Toronto']

Twins
Rockies

In [ ]:
#Adding an entry to an exiting dictionary is simply a matter of assigning a new key and value:

MLB_team['kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'kansas City': 'Royals'}

In [ ]:
# If you want to update an entry,you can just assign a new value to an existing key:

MLB_team['seattle'] = 'seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'kansas City': 'Royals',
 'seattle': 'seahawks'}

In [ ]:
# To delete an entry,use the del statement,spesifying the key to delete:

del MLB_team['seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'kansas City': 'Royals'}

# Building a Dictionary Incrementally

mendefinisikan dictionary menggunakan tanda kurng kurawal dan key-value pairs,seperti yang ditunjukan di atas,tidak masalah jika kalian mengetahui semua kunci dan nilai sebelumnya.Tetapi bagaimana jika kalian ingin membuat dictionary sambil jalan?

kalian bisa mulai dengan membuat dictionary kosong, yang ditentukan dengan tanda kurung kurawal kosong.Kemudiam kalian dapat menembahkan kunci dan nilai baru satu per satu:

In [ ]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'sox'}

In [ ]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'sox'}}

In [ ]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [ ]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [ ]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'sox'}
sox

In [ ]:
# Build-in Mtehods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

# Line Continuation

Misalkan satu peryataan dalam kode python kalian sangat panjang.Misalnya,kalian mungkin memiliki assignment statement dengan banyak terms:

In [ ]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (perosn3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [ ]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <=65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True